<!DOCTYPE html>
<html lang="en">
<head>
    @{ViewData["Title"] = "New Insurance";}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Title>Document</Title>
</head>
<body>
    <div class="container">
        <div class="container">
    <div class="row mt-2">
        <h1>Create Insurance</h1>
    </div>
     <div class="row mt-2">
         @model Insurance
        <form asp-action="CreateInsurance" method="post">
            <div class="form-group row">
                <div class="col-sm-5">
                    <span asp-validation-for="Name"></span>
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control border border-dark" asp-for="Name">
                </div>
            </div>
            <div class="form-group row text-right">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Create Insurance</button>
                </div>
            </div>
        </form>
    </div>
</div>
    </div>
    
</body>
</html>